#bg_image {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	top:0\9; 
	top:-50%\0/;  
	left:0\9;
	left:-50%\0/;  
	width:200%; 
	height:200%;
	z-index: -100;
	background-color:#CCC;
}
#bg_image img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%;
}
.within_bg_image {
	position: relative;
}
